<h1>Conference List</h1>

<% @conferences.each do |conference| %>
  <h3><a href="/conferences/<%= conference.id %>"><%= conference.name %></a></h3>
  <p><%= "#{conference.start_date.strftime("%b %e, %Y")}
    to #{conference.end_date.strftime("%b %e, %Y")}" %></p>
<% end %>
<br>
<a href='/conferences/new'>New Conference</a>
