<h1><%= @conference.name %></h1>

<p>Organization: <%= @conference.organization %></p><br/>
<p>Expected Attendance: <%= @conference.size %></p><br/>
<p>Dates: <%= "#{@conference.start_date} - #{@conference.end_date}" %></p>
