<h1>Welcome to Conference Manager</h1>

<%= link_to "Conferences", "/conferences" %>
<%= link_to "Presentations", "/presentations" %>
<%= link_to "Meeting Rooms", "/meeting_rooms" %>
<%= link_to "Meetings", "/meetings" %>
